[submodule "modules/health"]
	path = modules/health
	url = /home/tjrandall/code/fq-health
[submodule "modules/cic"]
	path = modules/cic
	url = /home/tjrandall/code/fq-cic
[submodule "modules/demo"]
	path = modules/demo
	url = /home/tjrandall/code/fq-demo
