[submodule "modules/health"]
	path = modules/health
	url = https://github.com/tjrandall/fq-health.git
[submodule "modules/cic"]
	path = modules/cic
	url = https://github.com/tjrandall/fq-cic.git
[submodule "modules/demo"]
	path = modules/demo
	url = https://github.com/tjrandall/fq-demo.git
